n8n/workflows/01-migrar-estudiantes.json
{
  "name": "01 - Migrar Estudiantes",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger-1",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "filePath": "=/tmp/estudiantes/Lista de Estudiantes y Matriculados por Escuela-4.xlsx",
        "options": {}
      },
      "id": "read-binary-1",
      "name": "Read Binary File",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "fileFormat": "xlsx",
        "options": {
          "headerRow": true,
          "readAsString": false,
          "range": ""
        },
        "binaryPropertyName": "data"
      },
      "id": "spreadsheet-1",
      "name": "Spreadsheet File",
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "// Limpia y normaliza los datos del Excel\nconst items = $input.all();\n\nreturn items.map((item, index) => {\n  const data = item.json;\n  \n  // Extrae cédula (ajusta el nombre de columna según tu Excel)\n  const cedula = String(data['Cédula'] || data['CÉDULA'] || data['CEDULA'] || data['Cedula'] || '').trim();\n  \n  // Si no hay cédula válida, skip\n  if (!cedula || cedula.length < 10) {\n    return null;\n  }\n  \n  return {\n    json: {\n      cedula: cedula,\n      nombre: String(data['Nombre Completo'] || data['Nombre'] || data['NOMBRE'] || '').trim(),\n      escuela: String(data['Escuela'] || data['ESCUELA'] || '').trim(),\n      nivel: String(data['Nivel Actual'] || data['Nivel'] || data['NIVEL'] || '').trim(),\n      email: String(data['Email UIDE'] || data['Email'] || data['EMAIL'] || '').trim(),\n      edad: parseInt(data['Edad'] || data['EDAD'] || 0) || null\n    }\n  };\n}).filter(item => item !== null); // Remueve nulls"
      },
      "id": "code-normalize-1",
      "name": "Code - Normalizar Datos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "fieldToSplitOut": "item",
        "options": {}
      },
      "id": "split-out-1",
      "name": "Split Out",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO estudiantes (cedula, nombre, escuela, nivel, email, edad)\nVALUES (\n  '{{ $json.cedula }}',\n  '{{ $json.nombre }}',\n  '{{ $json.escuela }}',\n  '{{ $json.nivel }}',\n  '{{ $json.email }}',\n  {{ $json.edad }}\n)\nON CONFLICT (cedula) DO UPDATE SET\n  nombre = EXCLUDED.nombre,\n  escuela = EXCLUDED.escuela,\n  nivel = EXCLUDED.nivel,\n  email = EXCLUDED.email,\n  edad = EXCLUDED.edad;",
        "options": {}
      },
      "id": "postgres-insert-1",
      "name": "Postgres - Insertar/Actualizar",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1340, 300],
      "credentials": {
        "postgres": {
          "id": "postgres-credential",
          "name": "PostgreSQL - gestion_aulas"
        }
      }
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Read Binary File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Binary File": {
      "main": [
        [
          {
            "node": "Spreadsheet File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Spreadsheet File": {
      "main": [
        [
          {
            "node": "Code - Normalizar Datos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Normalizar Datos": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Postgres - Insertar/Actualizar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-12-18T00:00:00.000Z",
  "versionId": "1"
}







