n8n/workflows/03-procesamiento-distribucion.json
{
  "name": "03 - Procesamiento y Distribución",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "process-distribution",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-1",
      "name": "Webhook - Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 300],
      "webhookId": "process-distribution"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, carrera, file_path, file_name\nFROM uploads\nWHERE timestamp > CURRENT_DATE - INTERVAL '30 days'\nORDER BY carrera;",
        "options": {}
      },
      "id": "postgres-get-uploads-1",
      "name": "Postgres - Obtener Uploads",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [460, 300],
      "credentials": {
        "postgres": {
          "id": "postgres-credential",
          "name": "PostgreSQL - gestion_aulas"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "loop-items-1",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "filePath": "={{ $json.file_path }}",
        "options": {}
      },
      "id": "read-binary-1",
      "name": "Read Binary File",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "fileFormat": "xlsx",
        "options": {
          "headerRow": true,
          "readAsString": false
        },
        "binaryPropertyName": "data"
      },
      "id": "spreadsheet-1",
      "name": "Spreadsheet File",
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 1,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "jsCode": "// Normalizar estructura de clases desde Excel\nconst items = $input.all();\nconst carrera = $('Loop Over Items').item.json.carrera;\nconst clasesNormalizadas = [];\n\nfor (const item of items) {\n  const row = item.json;\n  \n  // Skip headers y rows vacías\n  if (!row || Object.values(row).every(v => !v || v === '')) continue;\n  \n  // Extrae campos (ajusta según tus columnas)\n  const materia = row['ASIGNATURA'] || row['MATERIA'] || row['Nombre Curso'] || row['Materia'] || '';\n  const ciclo = row['CICLO'] || row['NIVEL'] || row['Sección'] || row['Ciclo'] || '';\n  const dia = row['DÍA'] || row['DIA'] || row['Día'] || row['Dia'] || '';\n  const horario = row['HORA'] || row['HORARIO'] || row['Horario'] || '';\n  const numEst = parseInt(row['NRO. ESTUDIANTES'] || row['# ESTUDIANTES'] || row['Cupos'] || row['Estudiantes'] || 0);\n  const aula = row['AULA'] || row['AULA/LAB'] || row['Aula'] || '';\n  const docente = row['DOCENTE'] || row['Docente'] || '';\n  const paralelo = row['PARALELO'] || row['Paralelo'] || '';\n  const modalidad = row['MODALIDAD'] || row['Modalidad'] || 'PRESENCIAL';\n  \n  if (!materia || !dia || !horario) continue;\n  \n  // Parsea horario (ej: \"14:00 - 17:00\" o \"14:00-17:00\")\n  const horaMatch = horario.match(/(\\d{1,2}):(\\d{2})\\s*-\\s*(\\d{1,2}):(\\d{2})/);\n  let horaInicio, horaFin;\n  \n  if (horaMatch) {\n    horaInicio = `${horaMatch[1].padStart(2, '0')}:${horaMatch[2]}:00`;\n    horaFin = `${horaMatch[3].padStart(2, '0')}:${horaMatch[4]}:00`;\n  } else {\n    continue; // Skip si no puede parsear\n  }\n  \n  clasesNormalizadas.push({\n    carrera: carrera,\n    materia: materia.trim(),\n    ciclo: String(ciclo).trim(),\n    paralelo: String(paralelo).trim(),\n    dia: dia.trim().toUpperCase(),\n    hora_inicio: horaInicio,\n    hora_fin: horaFin,\n    num_estudiantes: numEst,\n    docente: docente.trim(),\n    aula_sugerida: aula.trim(),\n    modalidad: modalidad.trim().toUpperCase()\n  });\n}\n\nreturn clasesNormalizadas.map(c => ({ json: c }));"
      },
      "id": "code-normalize-1",
      "name": "Code - Normalizar Clases",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "fieldToSplitOut": "item",
        "options": {}
      },
      "id": "split-out-1",
      "name": "Split Out",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [1560, 300]
    },
    {
      "parameters": {
        "operation": "insert",
        "table": {
          "__rl": true,
          "value": "clases",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "carrera": "={{ $json.carrera }}",
            "materia": "={{ $json.materia }}",
            "ciclo": "={{ $json.ciclo }}",
            "paralelo": "={{ $json.paralelo }}",
            "dia": "={{ $json.dia }}",
            "hora_inicio": "={{ $json.hora_inicio }}",
            "hora_fin": "={{ $json.hora_fin }}",
            "num_estudiantes": "={{ $json.num_estudiantes }}",
            "docente": "={{ $json.docente }}",
            "aula_sugerida": "={{ $json.aula_sugerida }}",
            "modalidad": "={{ $json.modalidad }}"
          }
        },
        "options": {}
      },
      "id": "postgres-insert-clases-1",
      "name": "Postgres - Insertar Clases",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1780, 300],
      "credentials": {
        "postgres": {
          "id": "postgres-credential",
          "name": "PostgreSQL - gestion_aulas"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, nombre, capacidad, prioridad_carreras, edificio, es_laboratorio\nFROM aulas\nORDER BY capacidad DESC;",
        "options": {}
      },
      "id": "postgres-get-aulas-1",
      "name": "Postgres - Obtener Aulas",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [2000, 300],
      "credentials": {
        "postgres": {
          "id": "postgres-credential",
          "name": "PostgreSQL - gestion_aulas"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Algoritmo de asignación de aulas\nconst clases = $('Postgres - Insertar Clases').all().map(item => item.json);\nconst aulas = $input.all().map(item => item.json);\n\n// Mapa de ocupación: {aula_id: {dia: [horarios ocupados]}}\nconst ocupacion = {};\naulas.forEach(aula => {\n  ocupacion[aula.id] = {};\n});\n\n// Helper: Verifica si hay conflicto de horario\nfunction hayConflicto(aulaId, dia, horaInicio, horaFin) {\n  if (!ocupacion[aulaId][dia]) return false;\n  \n  for (const horario of ocupacion[aulaId][dia]) {\n    // Conflicto si se superponen\n    if (horaInicio < horario.fin && horaFin > horario.inicio) {\n      return true;\n    }\n  }\n  return false;\n}\n\n// Helper: Marca horario como ocupado\nfunction marcarOcupado(aulaId, dia, horaInicio, horaFin) {\n  if (!ocupacion[aulaId][dia]) {\n    ocupacion[aulaId][dia] = [];\n  }\n  ocupacion[aulaId][dia].push({ inicio: horaInicio, fin: horaFin });\n}\n\n// Helper: Calcula score de prioridad\nfunction calcularPrioridad(clase, aula) {\n  let score = 0;\n  \n  // +100 si el aula tiene prioridad para esta carrera\n  if (aula.prioridad_carreras && aula.prioridad_carreras.includes(clase.carrera)) {\n    score += 100;\n  }\n  \n  // +50 si es la misma aula sugerida\n  if (clase.aula_sugerida && aula.nombre === clase.aula_sugerida) {\n    score += 50;\n  }\n  \n  // +20 si la capacidad es ajustada (no muy grande, no muy pequeña)\n  const margen = aula.capacidad - clase.num_estudiantes;\n  if (margen >= 0 && margen <= 10) {\n    score += 20;\n  } else if (margen > 10) {\n    score += 10; // Penaliza aulas demasiado grandes\n  }\n  \n  // +30 si requiere lab y es lab\n  if (clase.aula_sugerida && clase.aula_sugerida.toLowerCase().includes('lab') && aula.es_laboratorio) {\n    score += 30;\n  }\n  \n  return score;\n}\n\n// Ordena clases por prioridad\nclases.sort((a, b) => {\n  const prioridadA = aulas.some(aula => aula.prioridad_carreras && aula.prioridad_carreras.includes(a.carrera)) ? 1 : 0;\n  const prioridadB = aulas.some(aula => aula.prioridad_carreras && aula.prioridad_carreras.includes(b.carrera)) ? 1 : 0;\n  \n  if (prioridadA !== prioridadB) return prioridadB - prioridadA;\n  \n  // Luego por número de estudiantes (más grande primero)\n  return b.num_estudiantes - a.num_estudiantes;\n});\n\n// Asignación\nconst asignaciones = [];\nconst sinAsignar = [];\n\nfor (const clase of clases) {\n  let mejorAula = null;\n  let mejorScore = -1;\n  \n  for (const aula of aulas) {\n    // Verifica capacidad\n    if (aula.capacidad < clase.num_estudiantes) continue;\n    \n    // Verifica conflictos\n    if (hayConflicto(aula.id, clase.dia, clase.hora_inicio, clase.hora_fin)) continue;\n    \n    // Calcula score\n    const score = calcularPrioridad(clase, aula);\n    \n    if (score > mejorScore) {\n      mejorScore = score;\n      mejorAula = aula;\n    }\n  }\n  \n  if (mejorAula) {\n    asignaciones.push({\n      clase_id: clase.id || null,\n      aula_id: mejorAula.id,\n      aula_nombre: mejorAula.nombre,\n      carrera: clase.carrera,\n      materia: clase.materia,\n      dia: clase.dia,\n      hora_inicio: clase.hora_inicio,\n      hora_fin: clase.hora_fin,\n      num_estudiantes: clase.num_estudiantes,\n      capacidad_aula: mejorAula.capacidad\n    });\n    \n    marcarOcupado(mejorAula.id, clase.dia, clase.hora_inicio, clase.hora_fin);\n  } else {\n    sinAsignar.push(clase);\n  }\n}\n\n// Retorna asignaciones y estadísticas\nreturn [{\n  json: {\n    asignaciones: asignaciones,\n    total_asignadas: asignaciones.length,\n    sin_asignar: sinAsignar.length,\n    conflictos: sinAsignar\n  }\n}];"
      },
      "id": "code-algoritmo-1",
      "name": "Code - Algoritmo Distribución",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2220, 300]
    },
    {
      "parameters": {
        "fieldToSplitOut": "asignaciones",
        "options": {}
      },
      "id": "split-asignaciones-1",
      "name": "Split Out - Asignaciones",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [2440, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id FROM clases\nWHERE carrera = '{{ $json.carrera }}'\n  AND materia = '{{ $json.materia }}'\n  AND dia = '{{ $json.dia }}'\n  AND hora_inicio = '{{ $json.hora_inicio }}'\nLIMIT 1;",
        "options": {}
      },
      "id": "postgres-find-clase-1",
      "name": "Postgres - Buscar Clase ID",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [2660, 300],
      "credentials": {
        "postgres": {
          "id": "postgres-credential",
          "name": "PostgreSQL - gestion_aulas"
        }
      }
    },
    {
      "parameters": {
        "operation": "insert",
        "table": {
          "__rl": true,
          "value": "distribucion",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "clase_id": "={{ $json.id }}",
            "aula_id": "={{ $('Split Out - Asignaciones').item.json.aula_id }}",
            "dia": "={{ $('Split Out - Asignaciones').item.json.dia }}",
            "hora_inicio": "={{ $('Split Out - Asignaciones').item.json.hora_inicio }}",
            "hora_fin": "={{ $('Split Out - Asignaciones').item.json.hora_fin }}"
          }
        },
        "options": {}
      },
      "id": "postgres-insert-dist-1",
      "name": "Postgres - Guardar Distribución",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [2880, 300],
      "credentials": {
        "postgres": {
          "id": "postgres-credential",
          "name": "PostgreSQL - gestion_aulas"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  c.carrera,\n  c.materia,\n  c.ciclo,\n  c.paralelo,\n  c.docente,\n  c.dia,\n  c.hora_inicio,\n  c.hora_fin,\n  c.num_estudiantes,\n  a.nombre as aula_asignada,\n  a.capacidad,\n  a.edificio\nFROM distribucion d\nJOIN clases c ON d.clase_id = c.id\nJOIN aulas a ON d.aula_id = a.id\nORDER BY c.carrera, c.ciclo, c.dia, c.hora_inicio;",
        "options": {}
      },
      "id": "postgres-get-reporte-1",
      "name": "Postgres - Obtener Reporte",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [3100, 300],
      "credentials": {
        "postgres": {
          "id": "postgres-credential",
          "name": "PostgreSQL - gestion_aulas"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "fileFormat": "xlsx",
        "options": {
          "sheetName": "Distribución Final"
        }
      },
      "id": "spreadsheet-create-1",
      "name": "Spreadsheet - Crear Excel",
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 1,
      "position": [3320, 300]
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/tmp/reportes/distribucion_{{ $now.format('YYYY-MM-DD_HH-mm') }}.xlsx",
        "options": {}
      },
      "id": "write-binary-reporte-1",
      "name": "Write Binary - Guardar Reporte",
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1,
      "position": [3540, 300]
    }
  ],
  "connections": {
    "Webhook - Trigger": {
      "main": [
        [
          {
            "node": "Postgres - Obtener Uploads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres - Obtener Uploads": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Read Binary File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Binary File": {
      "main": [
        [
          {
            "node": "Spreadsheet File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Spreadsheet File": {
      "main": [
        [
          {
            "node": "Code - Normalizar Clases",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Normalizar Clases": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Postgres - Insertar Clases",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres - Insertar Clases": {
      "main": [
        [
          {
            "node": "Postgres - Obtener Aulas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres - Obtener Aulas": {
      "main": [
        [
          {
            "node": "Code - Algoritmo Distribución",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Algoritmo Distribución": {
      "main": [
        [
          {
            "node": "Split Out - Asignaciones",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out - Asignaciones": {
      "main": [
        [
          {
            "node": "Postgres - Buscar Clase ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres - Buscar Clase ID": {
      "main": [
        [
          {
            "node": "Postgres - Guardar Distribución",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres - Guardar Distribución": {
      "main": [
        [
          {
            "node": "Postgres - Obtener Reporte",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres - Obtener Reporte": {
      "main": [
        [
          {
            "node": "Spreadsheet - Crear Excel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Spreadsheet - Crear Excel": {
      "main": [
        [
          {
            "node": "Write Binary - Guardar Reporte",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-12-18T00:00:00.000Z",
  "versionId": "1"
}







