n8n/workflows/telegram-bot-uide-simple-polling.json
{
  "name": "Telegram Bot - UIDE (Simple Polling)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 10
            }
          ]
        }
      },
      "id": "schedule",
      "name": "Every 10 seconds",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "// Token del bot\nconst BOT_TOKEN = '8524499239:AAEgU7QiBZMwJ1YPErkHVGJ23CT5IzWUMGw';\n\n// Obtener el último update_id guardado\nconst lastUpdateId = $workflow.staticData.lastUpdateId || 0;\n\n// Hacer request a Telegram API\nconst response = await fetch(`https://api.telegram.org/bot${BOT_TOKEN}/getUpdates`, {\n  method: 'POST',\n  headers: { 'Content-Type': 'application/json' },\n  body: JSON.stringify({\n    offset: lastUpdateId + 1,\n    timeout: 5,\n    allowed_updates: ['message']\n  })\n});\n\nconst data = await response.json();\n\nif (!data.ok || !data.result || data.result.length === 0) {\n  return [];\n}\n\n// Guardar el último update_id\nconst lastUpdate = data.result[data.result.length - 1];\n$workflow.staticData.lastUpdateId = lastUpdate.update_id;\n\n// Retornar solo mensajes de texto\nreturn data.result\n  .filter(update => update.message && update.message.text)\n  .map(update => ({\n    json: {\n      update_id: update.update_id,\n      message_id: update.message.message_id,\n      chat_id: update.message.chat.id,\n      text: update.message.text,\n      from: update.message.from,\n      bot_token: BOT_TOKEN\n    }\n  }));"
      },
      "id": "get-updates",
      "name": "Get Telegram Updates",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.text }}",
              "operation": "startsWith",
              "value2": "/estado"
            }
          ]
        }
      },
      "id": "if-estado",
      "name": "Check Command",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "const chatId = $input.item.json.chat_id;\nconst botToken = $input.item.json.bot_token;\n\ntry {\n  // Llamar al backend\n  const healthResponse = await fetch('http://host.docker.internal:3000/health', {\n    method: 'GET',\n    headers: { 'Content-Type': 'application/json' }\n  });\n  \n  const health = await healthResponse.json();\n  \n  const uptimeMinutes = Math.floor((health.uptime || 0) / 60);\n  const uptimeSeconds = Math.floor((health.uptime || 0) % 60);\n  \n  const message = `📊 *Estado del Sistema UIDE*\\n\\n` +\n                  `✅ Backend: ${health.status === 'OK' ? 'Operativo ✓' : 'Error ✗'}\\n` +\n                  `🕐 Timestamp: ${new Date(health.timestamp).toLocaleString('es-EC')}\\n` +\n                  `⏱️ Uptime: ${uptimeMinutes}m ${uptimeSeconds}s\\n\\n` +\n                  `Sistema funcionando correctamente.`;\n  \n  // Enviar respuesta a Telegram\n  await fetch(`https://api.telegram.org/bot${botToken}/sendMessage`, {\n    method: 'POST',\n    headers: { 'Content-Type': 'application/json' },\n    body: JSON.stringify({\n      chat_id: chatId,\n      text: message,\n      parse_mode: 'Markdown'\n    })\n  });\n  \n  return [{ json: { success: true, message: 'Estado enviado' } }];\n  \n} catch (error) {\n  // Si falla el backend, enviar mensaje de error\n  const errorMessage = `❌ *Error del Sistema*\\n\\n` +\n                       `No se pudo conectar con el backend.\\n` +\n                       `Error: ${error.message}`;\n  \n  await fetch(`https://api.telegram.org/bot${botToken}/sendMessage`, {\n    method: 'POST',\n    headers: { 'Content-Type': 'application/json' },\n    body: JSON.stringify({\n      chat_id: chatId,\n      text: errorMessage,\n      parse_mode: 'Markdown'\n    })\n  });\n  \n  return [{ json: { success: false, error: error.message } }];\n}"
      },
      "id": "handle-estado",
      "name": "Handle /estado",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 200]
    },
    {
      "parameters": {
        "jsCode": "const chatId = $input.item.json.chat_id;\nconst text = $input.item.json.text;\nconst botToken = $input.item.json.bot_token;\n\nlet responseText = '';\n\nif (text.startsWith('/start') || text.startsWith('/help')) {\n  responseText = `🤖 *Bot de Gestión de Aulas UIDE*\\n\\n` +\n                 `¡Bienvenido! Este bot te ayuda a gestionar las aulas.\\n\\n` +\n                 `*Comandos disponibles:*\\n` +\n                 `/estado - Ver estado del sistema\\n` +\n                 `/help - Mostrar esta ayuda\\n\\n` +\n                 `_Modo: Polling Local_`;\n} else {\n  responseText = `ℹ️ Comando no reconocido: \\`${text}\\`\\n\\n` +\n                 `Usa /help para ver los comandos disponibles.`;\n}\n\n// Enviar respuesta\nawait fetch(`https://api.telegram.org/bot${botToken}/sendMessage`, {\n  method: 'POST',\n  headers: { 'Content-Type': 'application/json' },\n  body: JSON.stringify({\n    chat_id: chatId,\n    text: responseText,\n    parse_mode: 'Markdown'\n  })\n});\n\nreturn [{ json: { success: true, command: text } }];"
      },
      "id": "handle-other",
      "name": "Handle Other Commands",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 400]
    }
  ],
  "connections": {
    "Every 10 seconds": {
      "main": [
        [
          {
            "node": "Get Telegram Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Telegram Updates": {
      "main": [
        [
          {
            "node": "Check Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Command": {
      "main": [
        [
          {
            "node": "Handle /estado",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Other Commands",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "lastUpdateId": 0
  },
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-12-04T00:00:00.000Z",
  "versionId": "3"
}













