n8n/workflows/telegram-bot-uide.json
{
  "name": "Telegram Bot - UIDE",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ]
      },
      "id": "telegram-trigger-1",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "webhookId": "telegram-uide-bot",
      "credentials": {
        "telegramApi": {
          "id": "telegram-credential",
          "name": "Telegram Bot - UIDE"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json['message']['chat']['id'] }}",
        "text": "✅ ¡Hola! Soy el bot de Gestión de Aulas UIDE.\n\nEstoy conectado a n8n y funcionando correctamente.\n\nComandos disponibles:\n/estado - Ver estado del sistema\n/help - Ver ayuda",
        "additionalFields": {}
      },
      "id": "telegram-send-1",
      "name": "Telegram - Respuesta Básica",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        460,
        300
      ],
      "credentials": {
        "telegramApi": {
          "id": "telegram-credential",
          "name": "Telegram Bot - UIDE"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json['message']['text'] }}",
              "operation": "startsWith",
              "value2": "/estado"
            }
          ]
        }
      },
      "id": "if-command-estado",
      "name": "IF - Comando /estado",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        460,
        180
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://host.docker.internal:3000/health",
        "options": {}
      },
      "id": "http-backend-health",
      "name": "HTTP Request - Backend Health",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        680,
        180
      ]
    },
    {
      "parameters": {
        "jsCode": "const health = $input.item.json;\nconst chatId = $('Telegram Trigger').item.json.message.chat.id;\n\nreturn {\n  chat_id: chatId,\n  text: `📊 Estado del Sistema UIDE\n\n✅ Backend: ${health.status === 'OK' ? 'Operativo' : 'Error'}\n🕐 Timestamp: ${health.timestamp}\n⏱️ Uptime: ${Math.floor(health.uptime)} segundos\n\nSistema funcionando correctamente.`\n};"
      },
      "id": "code-format-response",
      "name": "Code - Formatear Respuesta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        180
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.text }}",
        "additionalFields": {}
      },
      "id": "telegram-send-estado",
      "name": "Telegram - Enviar Estado",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        1120,
        180
      ],
      "credentials": {
        "telegramApi": {
          "id": "telegram-credential",
          "name": "Telegram Bot - UIDE"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json['message']['chat']['id'] }}",
        "text": "❓ Comando no reconocido.\n\nComandos disponibles:\n/estado - Ver estado del sistema\n/help - Ver ayuda",
        "additionalFields": {}
      },
      "id": "telegram-send-unknown",
      "name": "Telegram - Comando Desconocido",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        680,
        300
      ],
      "credentials": {
        "telegramApi": {
          "id": "telegram-credential",
          "name": "Telegram Bot - UIDE"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "IF - Comando /estado",
            "type": "main",
            "index": 0
          },
          {
            "node": "Telegram - Respuesta Básica",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Comando /estado": {
      "main": [
        [
          {
            "node": "HTTP Request - Backend Health",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram - Comando Desconocido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Backend Health": {
      "main": [
        [
          {
            "node": "Code - Formatear Respuesta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Formatear Respuesta": {
      "main": [
        [
          {
            "node": "Telegram - Enviar Estado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-12-04T00:00:00.000Z",
  "versionId": "1"
}













