n8n/workflows/telegram-bot-uide-polling-corregido.json
{
  "name": "Telegram Bot - UIDE (Polling Local Corregido)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 10
            }
          ]
        }
      },
      "id": "schedule-polling",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot{{ $credentials.telegramApi.accessToken }}/getUpdates",
        "authentication": "none",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "offset",
              "value": "={{ $workflow.staticData.lastUpdateId ? $workflow.staticData.lastUpdateId + 1 : 0 }}"
            },
            {
              "name": "timeout",
              "value": "5"
            },
            {
              "name": "allowed_updates",
              "value": "[\"message\"]"
            }
          ]
        },
        "options": {}
      },
      "id": "http-get-updates",
      "name": "HTTP - Get Updates",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [460, 300],
      "credentials": {
        "telegramApi": {
          "id": "telegram-credential",
          "name": "Telegram Bot - UIDE"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Procesar updates y guardar último update_id\nconst response = $input.item.json;\nconst updates = response.result || [];\n\nif (updates.length === 0) {\n  return [];\n}\n\n// Guardar el último update_id para la próxima ejecución\nconst lastUpdate = updates[updates.length - 1];\n$workflow.staticData.lastUpdateId = lastUpdate.update_id;\n\n// Procesar solo mensajes de texto\nreturn updates\n  .filter(update => update.message && update.message.text)\n  .map(update => ({\n    json: {\n      update_id: update.update_id,\n      message_id: update.message.message_id,\n      chat_id: update.message.chat.id,\n      text: update.message.text,\n      from: update.message.from\n    }\n  }));"
      },
      "id": "code-process-updates",
      "name": "Process Updates",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.text }}",
              "operation": "startsWith",
              "value2": "/estado"
            }
          ]
        }
      },
      "id": "if-estado",
      "name": "IF /estado",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://host.docker.internal:3000/health",
        "options": {
          "timeout": 5000
        }
      },
      "id": "http-backend",
      "name": "Check Backend Health",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1120, 200],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const chatId = $('Process Updates').item.json.chat_id;\n\ntry {\n  const health = $input.item.json;\n  \n  const uptimeMinutes = Math.floor((health.uptime || 0) / 60);\n  const uptimeSeconds = Math.floor((health.uptime || 0) % 60);\n  \n  return [{\n    json: {\n      chat_id: chatId,\n      text: `📊 *Estado del Sistema UIDE*\\n\\n` +\n            `✅ Backend: ${health.status === 'OK' ? 'Operativo ✓' : 'Error ✗'}\\n` +\n            `🕐 Timestamp: ${new Date(health.timestamp).toLocaleString('es-EC')}\\n` +\n            `⏱️ Uptime: ${uptimeMinutes}m ${uptimeSeconds}s\\n\\n` +\n            `Sistema funcionando correctamente.`,\n      parse_mode: 'Markdown'\n    }\n  }];\n} catch (error) {\n  return [{\n    json: {\n      chat_id: chatId,\n      text: `❌ *Error del Sistema*\\n\\n` +\n            `No se pudo conectar con el backend.\\n` +\n            `Por favor, verifica que esté ejecutándose.`,\n      parse_mode: 'Markdown'\n    }\n  }];\n}"
      },
      "id": "code-format-estado",
      "name": "Format Estado Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot{{ $credentials.telegramApi.accessToken }}/sendMessage",
        "authentication": "none",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{ $json.chat_id }}"
            },
            {
              "name": "text",
              "value": "={{ $json.text }}"
            },
            {
              "name": "parse_mode",
              "value": "={{ $json.parse_mode || 'Markdown' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "http-send-message",
      "name": "Send Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1560, 300],
      "credentials": {
        "telegramApi": {
          "id": "telegram-credential",
          "name": "Telegram Bot - UIDE"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const chatId = $('Process Updates').item.json.chat_id;\nconst text = $('Process Updates').item.json.text;\n\nlet responseText = '';\n\nif (text.startsWith('/start') || text.startsWith('/help')) {\n  responseText = `🤖 *Bot de Gestión de Aulas UIDE*\\n\\n` +\n                 `¡Bienvenido! Este bot te ayuda a gestionar las aulas.\\n\\n` +\n                 `*Comandos disponibles:*\\n` +\n                 `/estado - Ver estado del sistema\\n` +\n                 `/help - Mostrar esta ayuda\\n\\n` +\n                 `_Modo: Polling Local_`;\n} else {\n  responseText = `ℹ️ Comando no reconocido.\\n\\n` +\n                 `Usa /help para ver los comandos disponibles.`;\n}\n\nreturn [{\n  json: {\n    chat_id: chatId,\n    text: responseText,\n    parse_mode: 'Markdown'\n  }\n}];"
      },
      "id": "code-default-response",
      "name": "Default Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 400]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP - Get Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Get Updates": {
      "main": [
        [
          {
            "node": "Process Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Updates": {
      "main": [
        [
          {
            "node": "IF /estado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF /estado": {
      "main": [
        [
          {
            "node": "Check Backend Health",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Default Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Backend Health": {
      "main": [
        [
          {
            "node": "Format Estado Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Estado Response": {
      "main": [
        [
          {
            "node": "Send Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Response": {
      "main": [
        [
          {
            "node": "Send Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "lastUpdateId": 0
  },
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-12-04T00:00:00.000Z",
  "versionId": "2"
}













