n8n/workflows/workflow-test-backend.json
{
  "name": "Test - Conexión Backend",
  "nodes": [
    {
      "parameters": {},
      "id": "1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "test-backend"
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:3000/health",
        "options": {}
      },
      "id": "2",
      "name": "Backend Health Check",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "// Procesar respuesta del backend\nconst response = $input.item.json;\n\nreturn {\n  status: response.status,\n  message: response.message,\n  backend_available: response.status === 'ok',\n  timestamp: new Date().toISOString(),\n  test_successful: true\n};"
      },
      "id": "3",
      "name": "Process Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "4",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Backend Health Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Backend Health Check": {
      "main": [
        [
          {
            "node": "Process Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-11-25T00:00:00.000Z",
  "versionId": "1"
}

















